.overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    transition: 0.3s ease;
    opacity: 0;
    visibility: hidden;
    background: rgba(0,0,0,0.5);
    &.active {
        opacity: 1;
        visibility: visible;
    }
}

.modal-product {
    position: fixed;
    width: 700px;
    height: 80%;
    margin: 0 auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 10;
    opacity: 0;
    visibility: hidden;
    background: var(--bg-color);
    transition: 0.3s ease;
    padding: 15px;
    border-radius: 4px;
    &--left {
        width: 200px;
        height: 200px;
    }
    &.active {
        opacity: 1;
        visibility: visible;
    }

    &--info {
        display: flex;
        gap: 0 20px;
        margin-bottom: 20px;
    }
    &--name {
        color: black;
        font-size: 20px;
        text-transform: capitalize;
        margin-bottom: 20px;
    }
    &--price {
        font-weight: bold;
        color: var(--primary-color);
    }

    &--quanlity {
        display: flex;
        gap: 0 5px;
        align-items: center;
        margin-top: 30px;
        margin-bottom: 30px;
        margin-right: 20px;
        &__amount {
            width: 30px;
            height: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 17px;
        }
        i {
            color: #799dd9;
            font-size: 20px;
            cursor: pointer;
        }
    }

    &--btn-price {
        padding: 5px 25px;
        display: inline-block;
        background: var(--second-color);
        color: #fff;
        border-radius: 20px;
        cursor: pointer;
        user-select: none;
    }

    &--topping {
        height: 270px;
        overflow-y: scroll;
        b, i {
            font-size: 17px;
            margin: 0 20px;
        }
        i {
            font-weight: bold;
        }
    }
    &--content {
        margin-top: 5px;
        margin-bottom: 10px;
        background-color: #fff;
        box-shadow: 0 0px 12px 0px rgba(0,0,0,0.1);
        padding: 10px 20px;
        font-size: 14px;
        &--radio {
            padding: 10px 0;
            cursor: pointer;
            display: flex;
            flex-direction: row-reverse;
            justify-content: start;
            align-items: center;
            gap: 0 5px;
            &:hover .custom-radio{
                background-color: #999;
            }
            .product-checkbox{
                opacity: 0;
                visibility: hidden;
                position: absolute;
            }
            .product-checkbox:checked+.custom-radio{
                background-color: var(--second-color);
            }
        }

        .custom-radio {
            width: 15px;
            height: 15px;
            border-radius: 100%;
            display: block;
            background-color: rgb(216, 214, 214);
        }
    }
}

