.flex {
    display: flex;
}
.aic {
    align-items: center;
}
.jcc {
    justify-content: center;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}
.grid {
    display: grid;
}

.jcb{
    justify-content: space-between;
}
