@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,700&display=swap');
$primary-color: #83733f;
:root {
    --primary-color: #83733f;
    --second-color: #d8b979;;
    --bg-color: #fbfbfb;
    --primary-font: 'Roboto', sans-serif;
}